* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;

  .side-bar {
    color: white;
    width: 300px;
    .header {
      background-color: #253141;
      height: 100px;
      line-height: 100px;
      align-items: center;
      padding: 0 20px;
      .header-box {
        height: 24px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        &__user-name {
          display: inline-block;
        }
        &__lists {
          display: inline-block;
          .list {
            display: inline-block;
          }
          .icon {
            color: white;
          }
        }
      }
    }

    .groups {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 0 20px;
      overflow: scroll;
      .group {
        padding: 20px 0 40px;
        text-decoration: none;
        a {
          text-decoration: none;
        }
        &__name {
          color: white;
        }
        &__message {
          margin-top: 5px;
          color: white;
        }
      }
    }
  }

  .chat {
    width: calc(100% - 300px);
    .header {
      height: 100px;
      padding: 0 40px;
      .left-header {
        float: left;
        &__title {
          color: #333;
          font-size: 20px;
          margin-top: 35px;
        }
        &__members {
          color: #999;
          display: flex;
          font-size: 12px;
          margin-top: 15px;
          .member {
            display: inline-block;
            padding-right: 5px;
          }
        }
      }
      .right-header {
        float: right;
        height: 40px;
        line-height: 40px;
        margin-top: 28px;
        padding: 0 20px;
        border: solid 1px #38aef0;
        &__button {
          &__edit {
            color: #38aef0;
            text-decoration: none;
          }
        }
      }
    }

    .messages {
      background-color: #fafafa;
      padding: 46px 40px 0;
      height: calc(100vh - 100px - 90px);
      overflow: scroll;
      .message {
        .upper-message {
          display: flex;
          &__user-name {
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          &__date {
            color: #999;
            font-size: 12px;
            padding-left: 10px;
          }
        }
        .lower-message {
          margin-top: 10px;
          &__content {
            color: #434a54;
            font-size: 14px;
            padding-bottom: 40px;
          }
        }
      }
    }

    .form {
      background-color: #ddd;
      height: 90px;
      padding: 20px 50px 20px 40px;
      &__message {
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 150px);
      }
      &__mask {
        background-color: white;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;
        }
        .hidden {
          display: none;
        }
      }
      &__submit {
        border: none;
        color: white;
        background-color: #38aef0;
        float: right;
        cursor: pointer;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}
